.home-hero-page-right-text span{margin: 7px 0 0 35px;}
.profile-Password span .profile-Password-save{width: 123px; font-size:15px;}
.profile-Password span .profile-Password-cancel{ font-size:15px;}
.edit-profile-detail-form-inner p .save-but{padding: 0 8px;}








@media screen and (min-width:1px) and (max-width:350px) {
.create-account span strong.c_code { width: 34% !important;}
.create-account span strong.ph_no { width: 66% !important;}
.footer-box1 .lang-all { width: 100%;}
.header-page-d1::before{bottom: 50px !important;}
.header-page{font-size:30px;}
.driver-action-page-right .driver-action1 span b strong{width: 109px;}
.driver-action-page-right .driver-action1 span b .select-wrapper, .select-wrapper select{width: 58px;}
.header-page-drs::before{bottom: 46px;}
.accordionheading .accordion-section-title { margin: -28px 10px 0 0 !important;}

.accordionheading span b .active { padding: 6px 3px !important;}



}



@media screen and (min-width:1px) and (max-width:414px) {
.footer-box1 .lang-all{width:100%;}

}

@media screen and (min-width:1px) and (max-width:567px) {

}


@media screen and (min-width:568px) and (max-width:666px) {



}

@media screen and (min-width:1px) and (max-width:767px) {
.header-page-drs::before{bottom: 46px;}
.driver-action-page-right .driver-action1 span b strong{width: 120px;}
.driver-action-page-right .driver-action1 span b .select-wrapper, .select-wrapper select{width: 55px;}
.footer-box1 .lang b{font-size:13px;}

}


@media screen and (min-width:667px) and (max-width:767px) {
.logo{width:65%;}

}




@media screen and (min-width:768px) and (max-width:1023px) {
.home-hero-page-right-text span p{line-height: 25px;}
.footer-box1 .lang b{font-size:13px;}

}

@media screen and (min-width:1024px) and (max-width:1099px) {
.footer-box1 .lang b{font-size:13px;}
.logo{width:65%;}
}

@media screen and (min-width:1280px) and (max-width:1400px) {

.logo{width:65%;}

}











