.home-hero-page-right-text span{margin:8px 0 0 21px;}
.profile-Password span .profile-Password-save{width:123px; font-size:15px;}
.profile-Password span .profile-Password-cancel{ font-size:15px;}
.edit-profile-detail-form-inner p .save-but{padding:0 8px;}
.create-account span strong.c_code{width:26%!important;}
.create-account span strong.ph_no{width:73%!important;}
.get-there-inner span{width:200px;}

/*.sign-in-driver span{position: absolute; left: 0; top: 200px;}
.sign-in-driver{position: absolute; left: 0; top: 200px;}*/
@media screen and (min-width:1px) and (max-width:350px) {
.create-account span strong.c_code {width:34%!important;}
.create-account span strong.ph_no {width:66%!important;}
.footer-box1 .lang-all {width:100%;}
.header-page-d1::before{bottom:50px!important;}
.header-page{font-size:30px;}
.driver-action-page-right .driver-action1 span b strong{width:109px;}
.driver-action-page-right .driver-action1 span b .select-wrapper, .select-wrapper select{width:58px;}
.header-page-drs::before{bottom:46px;}
.accordionheading .accordion-section-title {margin:-28px 10px 0 0!important;}
.accordionheading span b .active {padding:6px 3px!important;}
/*.create-account span strong.c_code{width: 34% !important;}
.create-account span strong.ph_no{width: 66% !important;}*/
}

@media screen and (min-width:1px) and (max-width:414px) {
.footer-box1 .lang-all{width:100%;}
}



@media screen and (min-width:1px) and (max-width:767px) {
.header-page-drs::before{bottom:46px;}
.driver-action-page-right .driver-action1 span b strong{width:120px;}
.driver-action-page-right .driver-action1 span b .select-wrapper, .select-wrapper select{width:55px;}
.footer-box1 .lang b{font-size:13px;}

.create-account span strong.c_code{width:34%!important;}
.create-account span strong.ph_no{width:64%!important;}
}

@media screen and (min-width:1px) and (max-width:567px) {
.get-there-inner h2{font-size:37px;}
.get-there-inner h2 b{font-size:30px;}
}

@media screen and (min-width:1px) and (max-width:414px) {
.get-there-inner h2{font-size:35px;}
.footer-box2 ul{ width:57%;}
.footer-box2 ul:last-child{ width:40%;}
.gallery-page h2{ font-size:29px;}
}

@media screen and (min-width:1px) and (max-width:400px) {
.footer-box2 ul {width:100%;}
}

@media screen and (min-width:568px) and (max-width:666px) {
.tap-app-ride{ margin:30px 0 20px; font-size:36px;}
.get-there-inner h2{ font-size:38px;}
.home-hero-page-right-text{ width:290px;}
.footer-box2 ul:last-child{ width:40%;}
.home-hero-page-right-text span{ width:92%; font-size:21px;}
}

@media screen and (min-width:667px) and (max-width:767px) {
.logo{width:65%;}
.get-there-inner h2{ font-size:38px;}
.home-hero-page-right-text{ width:290px;}
.footer-box2 ul:last-child{ width:40%;}
}

@media screen and (min-width:768px) and (max-width:1023px) {
.home-hero-page-right-text span p{line-height:25px;}
.footer-box1 .lang b{font-size:13px;}
.create-account span strong.c_code {width:27%!important;}
.create-account span strong.ph_no {width:72%!important;}

.logo .top-logo-link{ margin:0 0 0 3%;}
.logo .top-logo-link a{ padding:0 7px; font-size:17px; line-height:77px;}
.top-link span a{ margin:0 6px; line-height:75px; font-size:17px;}

.get-there-inner h2{ width:71%; font-size:36px;}
.home-hero-page-right-text{ width:280px;}
.home-hero-page-right-text span{ margin:17px 0 20px 20px;}
.footer-box1{ width:221px;}
}

@media screen and (min-width:1024px) and (max-width:1099px) {
.footer-box1 .lang b{font-size:13px;}
.logo{width:65%;}
}

@media screen and (min-width:1280px) and (max-width:1400px) {
.logo{width:65%;}
}