.vehicles-page{ margin:0; padding:0px; width:100%; float:left;}

.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion{ margin:0px; padding:0px; float:left; width:100%; overflow:hidden;}
.accordion .accordion-section{ margin:0 0 5px; padding:0px; float:left; width:100%; }
/*----- Section Titles -----*/

.accordionheading{ margin:0px; padding:10px 0; float:left; width:100%;}
.accordionheading h3{ margin:8px 0 0 10px; padding:0px; float:left; font-size:19px; text-transform:capitalize; font-weight:600;}
.accordionheading .accordion-section-title{ margin:5px 10px 0 0; padding:0px; float:right; width:24px; height:14px;}

.accordionheading span{ margin:0; padding:0px; float:right;}
.accordionheading span b{ margin:0 10px 0 0; padding:0px; float:left;}
.accordionheading span b .active{ margin:0 10px 0 0; padding:10px 15px; float:left;border-radius:3px; font-size:15px; -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;color:#404040; border:1px solid #404040;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}
.accordionheading span b .active:hover{ border:1px solid #959494; color:#959494;}
.accordionheading span b .active2{ color:#ca0000;border: 1px solid #ca0000;}
.accordionheading span b .active2:hover{ color:#ca0000;border: 1px solid #ca0000;}


.accordionheading span strong{ margin:7px 0 0; padding:0px; float:right;}

.accordionheading span b span.success-vehicle-active{  float: left;
    font-size: 15px;
    margin:8px 7px 0 0;
    padding: 6px 11px;
    width: auto;}
.accordionheading span b span.success-vehicle-inactive{ float: left;
    font-size: 15px;
    margin:8px 7px 0 0;
    padding: 6px 11px;
    width: auto;}

.accordion-section .active{ border:none;  padding-bottom:9px; }
.accordion-section-title.active, .accordion-section-title:hover {
	/*background:#4c4c4c;*/
	/* Type */
	text-decoration:none;
	}


.accordion-section:last-child .accordion-section-title { border-bottom:none;}

/*----- Section Content -----*/

.accordion-section-content { padding:0px; display:none; float:left; width:100%; }

.driver-vehicles-page-new{ margin:25px 0 0; padding:0px; float:left; width:100%;}
.driver-vehicles-page-new h2{ margin:0 0 13px; padding:0px; float:left; width:100%; font-weight:600; font-size:21px;}
.driver-vehicles-page-new .alert-dismissable{ margin:0 0 10px; padding:10px; float:left; width:100%;}
.driver-vehicles-page-new .alert-dismissable .close{ top:0px; right:0px; font-size:28px;}

.driver-vehicles-page-new p{ margin:0 0 15px; padding:0px; float:left; width:100%; font-size:17px; font-weight:normal;}
.driver-vehicles-page-new ul{ margin:20px 0 30px; padding:0px; float:left; width:100%;}
.driver-vehicles-page-new li{ margin:0 29px 0 0; padding:0px; float:left; width:31%; position:relative; text-align:center; border-radius:3px; display:block;}
.driver-vehicles-page-new li:nth-child(3n){ float:right; margin-right:0px;}
/*.driver-vehicles-page-new li:last-child{margin:0 21px 0 0;}*/

.driver-vehicles-page-new li h4{ margin:15px 0; padding:0px; float:left; width:100%; font-size:17px;  text-transform:uppercase; font-family: 'maven_promedium'; font-weight:600;}
.driver-vehicles-page-new li h4:after { top:45px; content:""; height:1px; left:40%; position:absolute; width:39px;}
.driver-vehicles-page-new li b{ margin:30px 0 10px; padding:0px; float:left; width:100%;  font-size:15px; min-height:70px; font-weight:normal;}
.driver-vehicles-page-new li .select-image1{ margin:0px; padding:0px; float:left; width:100%; -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;}

.driver-vehicles-page-new li .select-image1 .fileupload-new{ margin:0px; padding:10px 15px; font-size:15px; text-transform:uppercase; border-bottom:none; display:inline-table;  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.driver-vehicles-page-new li .btn-danger{border-radius:50%; font-weight:600; margin:0; padding:0 7px 2px; position:absolute; right:26px; top:46px; width:auto !important;}

.driver-vehicles-page-new li .select-image1 span{ background:none; border:none; padding-bottom:0px;}
.driver-vehicles-page-new li .thumbnail{ margin:0px; padding:0px; border:none;}

.driver-vehicles-page-new abbr{ margin:35px 0 20px; padding:0px; float:left; width:100%; text-align:center; font-weight:normal;}
.driver-vehicles-page-new abbr .save-document{ margin:0px; padding:0 20px; font-size:16px;width:auto; height:49px; display:inline-table; text-align:center; line-height:48px; /*border-radius:3px; */font-family: 'maven_promedium'; font-weight:500; text-transform: uppercase;
 -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; border:none;}
  


.driver-vehicles-page-new li .btn-file > input{ margin:0px; padding:5px 0; text-align:center; width:100%; transform:none; z-index:0;}
.driver-vehicles-page-new li .w1{ position:absolute;}
.accordionheading{ background:#f4f3f4; border:1px solid #e2e2e2;}

.accordionheading span b span.success-vehicle-active{background:#5fa659;}
.accordionheading span b span.success-vehicle-inactive{ background:#ca0000;}
.accordion-section .active{color:#14ac2d;}
.accordion-section-title.active, .accordion-section-title:hover {color:#14ac2d;}
.accordion-section strong .active{background:url(../img/ans-img.png) no-repeat scroll right 0px;}
.driver-vehicles-page-new p{ color:#000000;}
.driver-vehicles-page-new li{ border:1px solid #e2e2e2;}
.driver-vehicles-page-new li h4{ color:#14ac2d;}
.driver-vehicles-page-new li h4:after {background:#cacaca;}
.accordion-section-title {	width:100%;	margin:0px;	padding:0;	display:inline-block;background:url(../img/que-img.png) no-repeat scroll right;text-transform:uppercase;}

.driver-vehicles-page-new li .select-image1{ border-bottom:1px solid #14ac2d;}
.driver-vehicles-page-new li .select-image1 .fileupload-new{ border:1px solid #14ac2d; color:#14ac2d;}
.driver-vehicles-page-new abbr .save-document{ background:#14ac2d;  color:#FFFFFF;}
.driver-vehicles-page-new abbr .save-document:hover{ background:#404040;}


